{%load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'customer/style.css'%}"

</head>
<ul>
    {%for car in all_cars%}

         <h1>Details of car:{{car.id}} </h1>
            <li>Car has repair related to:{{car.repair}}</li>
            <li>The owner name is: {{car.owner_name}}</li>
            <li>Car is of model: {{car.car_model}}</li>
            <li>car came to garage at:{{car.starttime}}</li>
            <li>Car is assigned to : </li>

            <br><br>


    {%endfor%}
</ul>
<ul>
    {%with 2 as x%}
    {%for car in all_cars%}
        {%if car.id == x %}
            <h1>Hello Mr. {{car.owner_name}}. We hope u r doing Wonderfull..!!<br>Details of ur car:</h1>
            <h1>status of reapir: DONE</h1>
            <h1>Car Name: {{car.name}}<br> Model of the car: {{car.car_model}}<br>Year of the car: {{car.year}}<br>Car came to garage at: {{car.starttime}}<br>ur car is assigned to Gopi<br>U can see ur car service video here:<a href="www.youtube.com">Video</a> </h1>




        {%endif%}

    {%endfor%}
    {%endwith%}
</ul>





</html>