{% extends "base.html" %}

{% block content %}

  <h2>Hi {{full_name}} you are now logged in!</h2>
  <p>Click <a href="/customer/logout/">here</a> to logout.</p>
  
  <p>Click <a href="">here</a> to edit your profile information</p>

{% endblock %}
