{%load staticfiles%}
<html>
<title>Customer page</title>

<head>
<link rel="stylesheet" type="text/css" href="{% static 'customer/style.css'%}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>



body {
  background: tomato;
}

h1 {
	margin: 20px;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px 10px 220px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Titillium Web', sans-serif;
}


form {
  background: white;
  width: 40%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  margin: 50px;
  margin-left:300px;
  color: #333;
  border-radius: 10px;
}
form header {
  background: #FF3838;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}
form button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background: #ff5252;
}




</style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <a class = "navbar-brand" href= "/home/">Garage systems </a>

          <div class="collapse navbar-collapse">

        <ul class= "nav navbar-nav">
            <li class="">

                <a href="/home/">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp; Best Car Service guaranteed


                </a>
            </li>
        </ul>

          </div>
</div>


</nav>


<div class="container">

    <div class="picture">

    </div>
</div>

<div class="hello_cus">
    <h1>Hello Customer please Log in to see ur car status</h1>


</div>

<form method="post" action=".?next={{ redirect_to }}"> {% csrf_token %}
  <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>

    <input type="submit" value="Login"/>
</form>




</body>



</html>