{%load staticfiles%}
<html>
<title>Welcome to garage systems</title>

<head>
<link rel="stylesheet" type="text/css" href="{% static 'customer/style.css'%}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <a class = "navbar-brand" href= "/home/">Garage systems </a>

          <div class="collapse navbar-collapse">

        <ul class= "nav navbar-nav">
            <li class="">

                <a href="/home/">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp; Best Car Service guaranteed


                </a>
            </li>
        </ul>
              <ul class="nav navbar-nav navbar-right">
                        <li class="">

                <a href="/home/customer">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp; Customer Login

                </a>
            </li>
              <li class="">

                <a href="/home/staff">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp; Staff Login

                </a>
            </li>

        </ul>
          </div>
</div>


</nav>


<div class="container">

    <div class="picture">

    </div>
</div>





</body>



</html>